.red {
    color: rgba(153, 0, 0, 1);
}
.blue {
    color: rgba(14, 0, 153, 1);
}

.green {
    color: rgba(0, 125, 14, 1);
}

.yellow {
    color: rgba(188, 195, 52, 1);
}

.orange {
    color: rgba(255, 199, 0, 1);
}

